@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    background-image: url("/images/background_subs.webp");
    background-position: center;
}

h1 {
    font-size: 2.6rem;
    text-align: center;
}

#center-column {
    box-shadow: 20px 20px 5px lightblue;
    border: 3px solid white;
    border-radius: 50px;
    padding: 50px;
    margin: 5% 25% 5% 25%;
    width: 50%;
    background-color: #13334f;
    color: white;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
}

a,
a:visited {
    color: white;
}

a:hover {
    color: red;
}